.dots-wrapper {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: red;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.active {
  background-color: green;
}
